.content-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 15px;
}
.info-details > h1 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 15px;
}
.info-details > div > p {
  color: var(--secondary-color);
  font-size: 14px;
}
.info-details > div > p > span,
.forecast-details > p > span {
  color: var(--primary-color);
}
.info-details > div > p:nth-child(1) {
  margin-bottom: 5px;
}
.info-general {
  align-items: center;
  display: grid;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  justify-items: center;
}
.info-temp {
  display: flex;
}
.info-temp > p {
  font-size: 55px;
  font-weight: 300;
  margin-right: 5px;
}
.info-temp > span:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  line-height: 55px;
}
.info-temp > span:nth-child(3) {
  font-family: var(--degrees-font);
  font-size: 15px;
  font-weight: 500;
  line-height: 55px;
}
.info-general > p {
  align-self: flex-start;
  font-size: 19px;
}
@media only screen and (max-width: 1200px) {
  .content-info {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 758px) {
  .info-details > h1 {
    font-size: 26px;
  }
  .info-details > div > p {
    font-size: 12px;
  }
  .info-temp > p {
    font-size: 45px;
  }
  .info-temp > span:nth-child(2) {
    font-size: 18px;
    line-height: 45px;
  }
  .info-temp > span:nth-child(3) {
    font-size: 13px;
    line-height: 45px;
  }
  .info-general > p {
    font-size: 17px;
  }
}
@media only screen and (max-width: 580px) {
  .content-info {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .info-general {
    grid-row: 1;
    margin-bottom: 5px;
  }
  .info-temp > p {
    font-size: 55px;
  }
  .info-temp > span:nth-child(2) {
    font-size: 20px;
    line-height: 55px;
  }
  .info-temp > span:nth-child(3) {
    font-size: 15px;
    line-height: 55px;
  }
  .info-general > p {
    font-size: 16px;
  }
  .info-details {
    text-align: center;
  }
  .info-details > h1 {
    font-size: 22px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 480px) {
  .info-temp > p {
    font-size: 45px;
  }
  .info-temp > span:nth-child(2) {
    font-size: 18px;
    line-height: 45px;
  }
  .info-temp > span:nth-child(3) {
    font-size: 16px;
    line-height: 45px;
  }
  .info-general > p {
    font-size: 14px;
  }
  .info-details > h1 {
    font-size: 19px;
    line-height: 25px;
  }
}