.content-spinner {
  display: flex;
  height: 100%;
  width: 100%;
}

.loader {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 6px solid var(--auxiliar-hover-color);
  border-top: 6px solid var(--secondary-color);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 