.content-spinner {
  display: flex;
  height: 381px;
  width: 100%;
  margin-top: 40px;
}
.content-spinner > div {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  border: 6px solid var(--auxiliar-hover-color);
  border-top: 6px solid var(--secondary-color);
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 758px) {
  .content-spinner {
    height: 538px;
  }
}
@media only screen and (max-width: 580px) {
  .content-spinner {
    height: 539px;
  }
}
@media only screen and (max-width: 480px) {
  .content-spinner {
    height: 514px;
  }
}