.card {
  border-radius: 10px;
  box-shadow: 4px 4px 4px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  margin-top: 20px;
  min-height: 70%;
  width: 70%;
}
.card-day {
  background: url("/bg_day.webp") no-repeat center 85% / cover;
}
.card-night {
  background: url("/bg_night.webp") no-repeat center 85% / cover;
}
.content {
  color: var(--primary-color);
  padding: 30px 50px;
}
.weather-today .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weather-week {
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 2000px) {
  .card {
    width: 80%;
  }
}
@media only screen and (max-width: 1300px) {
  .card {
    width: 85%;
  }
}
@media only screen and (max-width: 1200px) {
  .card {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .card-day {
    background-position: 0 0;
  }
  .card-night {
    background-position: 0 0;
  }
  .weather-week {
    border-radius: 0 0 10px 10px;
  }
}