.card {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 12px;
}

.card-morning {
    background: url('/public/wallpaper_morning.jpg') no-repeat center 85%;
}

.card-afternoon {
    background: url('/public/wallpaper_afternoon.jpg') no-repeat center 85%;
}

.card-evening {
    background: url('/public/wallpaper_evening.jpg') no-repeat center 85%;
}

.content {
    padding: 30px 50px;
    color: var(--primary-color);
}

.full-height {
    height: 100%;
}

.weather-week {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0 10px 10px 0;
}