.credits {
  margin: 17px 0 0;
  font-size: 11px;
  color: var(--secondary-color);
}

.credits > a {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .credits {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 758px) {
  .credits {
    font-size: 10px;
  }
}

@media only screen and (max-width: 580px) {
  .credits {
    font-size: 9px;
  }
}

@media only screen and (max-width: 480px) {
  .credits {
    font-size: 8px;
  }
}
