.credits {
  color: var(--secondary-color);
  font-size: 12px;
  margin: 17px 0 0;
  text-align: center;
  width: 80%;
}
.credits > a {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}
@media only screen and (max-width: 1200px) {
  .credits {
    margin-bottom: 40px;
  }
}