.forecast-card {
  background: var(--bar-color);
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
}
.forecast-card > h2 {
  font-size: 16px;
  margin-bottom: 7px;
}
.forecast-info {
  align-items: center;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  justify-items: center;
}
.temp-max,
.temp-min {
  font-size: 13px;
}
.temp-min {
  color: var(--secondary-color);
}
.clim-week {
  font-size: 14px !important;
}
.forecast-details {
  color: var(--secondary-color);
  font-size: 12px;
  width: 100%;
}
.forecast-details > hr {
  background-color: var(--hr-color);
  border-color: var(--hr-color);
  margin: 4px 0 8px;
}
@media only screen and (max-width: 758px) {
  .forecast-card > h2 {
    font-size: 14px;
  }
  .temp-max,
  .temp-min {
    font-size: 12px;
  }
  .clim-week {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 480px) {
  .forecast-card > h2 {
    font-size: 14px;
  }
  .temp-max,
  .temp-min {
    font-size: 12px;
  }
  .clim-week {
    font-size: 12px !important;
  }
}