.App {
  height: 100vh;
  background: linear-gradient(#0e011f, #221637);
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .App {
    height: auto;
  }
}