.App {
  height: 100vh;
}

.bg-morning {
  background-color: #63416c;
}

.bg-afternoon {
  background-color: #402e4f;
}

.bg-evening {
  background-color: #322a5d;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}